!!!
%html
  %head
    %script{:src=>"jquery-1.3.2.js"}
    %script{:src=>"jquery.scrollTo-min.js"}
    

    / styles stolen from Launchpad (https://launchpad.net/ubuntu/+archivemirrors)
    - %w[style-3-0 fonts style-slimmer].each do |sheet|
      %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/#{sheet}.css"}
      
    %title= "ixdns"

  %body
    = yield

